@model IEnumerable<WebApplication3.Models.ChartDataModel>
@using Newtonsoft.Json;
@{ ViewData["Title"] = "History";
    Layout = "_Adminlte"; }

@{ int count = Model.Count();
                string[,] roomtemp1 = new string[count, 2];
                string[,] roomhumid1 = new string[count, 2];
                string[,] roomtemp2 = new string[count, 2];
                string[,] roomhumid2 = new string[count, 2];
                string[,] mchntemp1 = new string[count, 2];
                string[,] mchnhumid1 = new string[count, 2];
                string[,] mchntemp2 = new string[count, 2];
                string[,] mchnhumid2 = new string[count, 2];
                int a = -1;
                foreach (var item in Model)
                {
                    a++;
                    roomtemp1[a, 0] = item.Time;
                    roomtemp1[a, 1] = item.RoomTemp1;
                    roomhumid1[a, 0] = item.Time;
                    roomhumid1[a, 1] = item.RoomHumid1;
                    roomtemp2[a, 0] = item.Time;
                    roomtemp2[a, 1] = item.RoomTemp2;
                    roomhumid2[a, 0] = item.Time;
                    roomhumid2[a, 1] = item.RoomHumid2;

                    mchntemp1[a, 0] = item.Time;
                    mchntemp1[a, 1] = item.MachineTemp1;
                    mchnhumid1[a, 0] = item.Time;
                    mchnhumid1[a, 1] = item.MachineHumid1;
                    mchntemp2[a, 0] = item.Time;
                    mchntemp2[a, 1] = item.MachineTemp2;
                    mchnhumid2[a, 0] = item.Time;
                    mchnhumid2[a, 1] = item.MachineHumid2;

                }

}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            History
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb"></ol>
    </section>

    <section class="content">
        <div class="row">
            <section class="col-lg-3">
                <form action="History" method="post">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">Date picker</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Select Disabled</label>
                                    <select class="form-control" name="Range">
                                        <option value="daily">Day</option>
                                        <option value="Monthly">Month</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Date range:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input name="Day" type="text" class="form-control pull-right" id="reservation">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </div>
                            </div>
                        </div>
                </form>
            </section>
        </div>
        <div class="row">
            <section class="col-lg-9">
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-line-chart"></i>
                        <h3 class="box-title">
                            Sensor Graph
                        </h3>
                    </div>
                    <div class="box-body">
                        <div id="placeholder" style="height: 350px; width: 100%;"></div>
                    </div>
                </div>
                <div class="cbgraph positioned">
                    <p id="choices" style="width: 100%;"></p>
                </div>

            </section>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{
    <style>

        .positioned {
            position: absolute;
        }

        .cbgraph {
            top: 36px;
            left: 55px;
            font-size: small;
        }

        .gaugepos {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            margin: 0 auto;
            font-family: 'Berlin Sans FB';
            text-align: center;
            color: grey;
            position: relative;
            left: 0px;
            top: 10px;
        }

        .infoatribute2 {
            grid-column: 2;
            grid-row: 1 / 3;
            color: grey;
            position: relative;
        }

        .infoatribute1 {
            grid-column: 1;
            grid-row: 1 / 3;
            color: grey;
            position: relative;
        }

        .loc1 {
            grid-column: 1;
            grid-row: 1;
            margin: 0 auto;
        }

        .loc2 {
            grid-column: 1 / 4;
            grid-row: 1 / 3;
        }

        .loc3 {
            grid-column: 2;
            grid-row: 1;
            margin: 0 auto;
        }

        .loc4 {
            grid-column: 1 / 4;
            grid-row: 2;
        }

        .map {
            grid-column: 1 / 4;
            grid-row: 1 / 3;
            margin: 0 auto;
        }

        .loc1, .loc2, .loc3, .loc4 {
            z-index: 2;
        }

        .bodygrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0px;
            grid-auto-rows: minmax(auto, auto);
        }

        .gridtwobytwo {
            display: grid;
            grid-template-columns: auto auto;
            grid-row: auto;
            grid-column-gap: 10px;
        }

        .pos1 {
            top: 0px;
            left: 0px;
        }

        .pos2 {
            top: 85px;
            left: 60px;
        }

        .pos3 {
            top: 180px;
            left: 60px;
        }

        .pos4 {
            top: 15px;
            left: 0px;
        }

        .pos1, .pos2, .pos3, .pos4 {
            margin: 0 auto;
            opacity: 0.75;
        }
    </style>


    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/adminlte/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/adminlte/components/select2/dist/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/adminlte/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/googlefont.css">

}

@section Scripts{
    <!-- jQuery 3 -->
    <script src="~/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/adminlte/components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="~/adminlte/components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/adminlte/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/adminlte/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/adminlte/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- Morris.js charts -->
    <script src="~/adminlte/components/raphael/raphael.min.js"></script>
    <script src="~/adminlte/components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/adminlte/components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS -->
    <script src="~/adminlte/components/chart.js/Chart.js"></script>
    <!-- FLOT CHARTS -->
    <script src="~/adminlte/components/Flot/jquery.flot.js"></script>

    <script src="~/adminlte/components/Flot/jquery.flot.time.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="~/adminlte/components/Flot/jquery.flot.resize.js"></script>
    <!-- date-range-picker -->
    <script src="~/adminlte/components/moment/min/moment.min.js"></script>
    <script src="~/adminlte/components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/adminlte/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/adminlte/components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/adminlte/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    @*FastClick*@
    <script src="~/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App  -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>

    @*<script src="~/js/Dashboard2.js"></script>*@

    <script>
        //Initialize Select2 Elements
        $('.select2').select2()
        //Date range picker
        $('#reservation').daterangepicker(
            {
                
            })

        $('input[name="Day"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'))
               //document.getElementById("dayrange").innerHTML = (start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'))
            }
        )

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        })


        function labelFormatter(label, series) {
            return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
                + label
                + '<br>'
                + Math.round(series.percent) + '%</div>'
        }</script>

    <script>
        var rh1 = @Html.Raw(JsonConvert.SerializeObject(roomhumid1));
        var rt1 = @Html.Raw(JsonConvert.SerializeObject(roomtemp1));
        var rh2 = @Html.Raw(JsonConvert.SerializeObject(roomhumid2));
        var rt2 = @Html.Raw(JsonConvert.SerializeObject(roomtemp2));

        var mh1 = @Html.Raw(JsonConvert.SerializeObject(mchnhumid1));
        var mt1 = @Html.Raw(JsonConvert.SerializeObject(mchntemp1));
        var mh2 = @Html.Raw(JsonConvert.SerializeObject(mchnhumid2));
        var mt2 = @Html.Raw(JsonConvert.SerializeObject(mchntemp2));

        var datasets = {
            "machine temp 1": {
                label: "Machine temp 1",
                data: mt1
            },
            "machine temp 2": {
                label: "Machine temp 2",
                data: mt2
            },
            "room temp 1": {
                label: "Room temp 1",
                data: rt1
            },
            "room temp 2": {
                label: "Room temp 2",
                data: rt2
            },
            "machine humid 1": {
                label: "Machine humid 1",
                data: mh1
            },
            "machine humid 2": {
                label: "Machine humid 2",
                data: mh2
            },
            "room humid 1": {
                label: "Room humid 1",
                data: rh1
            },
            "room humid 2": {
                label: "Room humid 2",
                data: rh2
            }
    };
    var i = 0;
        $.each(datasets, function (key, val) {
            val.color = i;
            ++i;
        });
    var choiceContainer = $("#choices");
        $.each(datasets, function (key, val) {
            choiceContainer.append("<input type='checkbox' name='" + key +
                "' checked='checked' id='id" + key + "'></input>" +
                "<label for='id" + key + "'>"
                + val.label + "</label>");
        });

    choiceContainer.find("input").click(plotAccordingToChoices);
        plotAccordingToChoices()
        function plotAccordingToChoices() {

            var data = [];

            choiceContainer.find("input:checked").each(function () {
                var key = $(this).attr("name");
                if (key && datasets[key]) {
                    data.push(datasets[key]);
                }
            });

            if (data.length > 0) {
                $.plot("#placeholder", data, {
                    yaxis: {
                        min: 0,
                        max: 100
                    },
                    xaxis: {
                        mode: "time",
                        timezone: "browser",
                        timeformat: '%H:%M:%S:%d',
                        tickDecimals: 4,

                    }
                });
            }
        }
    </script>

}